.item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(231, 226, 226);
    padding: 10px 30px;
}

.content-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 100px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.753);
	.img-view {
		width: 100px;
		height: 100px;
	}
	&:hover {
		background: rgb(240, 238, 238);
        cursor: pointer;
	}
}

.content-item-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-item-left-bottom {
    margin-bottom: 10px;
}

.content-item-left-top {
    display: flex;
    align-items: center;
    .item-name {
        margin: 0;
    }
    .item-info {
        margin: 0;
        padding: 10px 0;
    }
}
